@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


* {
    font-family: 'Poppins';
}

.centered-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #F0F0F0;
}

header {
    position: absolute;
    background-color: #9C0D20;
    top: 0; left: 0;
    width: 100%;
    height: 80px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

button.edit {
    background-color: rgb(25, 25, 171);
    color: white;
}

button.update {
    background-color: green;
    color: white;
}

button.delete, button.cancel {
    background-color: rgb(150, 51, 51);
    color: white;
}

button.disabled {
    background-color: rgb(46, 72, 46);
    color: rgb(181, 179, 179);
}

button.verified {
    background-color: green;
    border-radius: 10%;
    border: none;
    color: white;
}

button.pending {
    background-color: yellow;
    border-radius: 10%;
    border: none;
    color: white;
}

button.on-hold {
    background-color: orange;
    border-radius: 10%;
    border: none;
    color: white;
}

button.verified:active, button.pending:active {
    background-color: white;
    color: black;
}

header div.container {
    width: 90%;
    height: 30px;
    /* background-color: black; */

    display: flex;
    align-items: center;
}

header h2.name {
    width: 50%;
    font-family: 'Poppins';
    /* background-color: green; */
}

header div.drop-down-container {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: end;
}

header button.drop-down {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 12pt;
}

main {
    margin-top: 80px;
    position: absolute;
    height: calc(100% - 80px); width: 100%;
    top: 0; left: 0;
    display: grid;
    grid-template-columns: 80% 20%;
}

main div {
    width: 100%;
    background-color: #D9D9D9;
}

main div.menu-containers {
    background-color: #D9D9D9;
}

main div.content-containers {
    background-color: #F0F0F0;
}

div.menu-containers button {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: #D9D9D9;
}

div.menu-containers button.selected {
    background-color: black;
    color: white;
}

div.menu-containers button:hover {
    background-color: black;
    color: white;
}

footer {
    width: 100%;
    height: 70px;
    bottom: 0; left: 0;
    position: absolute;
    background-color: #342C2D;

    display: grid;
    grid-template-columns: 10% 80% 10%;
}

footer div.img-container {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.text-container {
    letter-spacing: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENTS PART */
section {
    height: calc(100% - 70px); width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.contents {
    height: calc(90% - 20px);
    width: calc(95% - 20px);
    border: 1px solid black;
    background-color: transparent;
    padding: 20px;
    overflow: auto;
}

div.element-content {
    display: inline-block;
    height: 110px; width: 270px;
    padding: 30px;
    background-color: #D9D9D9;
    margin: 5px;
}

div.element-content span {
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
}

div.element-content div.box {
    height: 40px; width: 40px;
    background-color: white;
    margin-right: 10px;
}

div.c40-60 {
    height: 100%; width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

div.content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

div.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    /* background-color: royalblue; */
}

div.course-form {
    height: 50%;
    width: 95%;
    /* border: 1px solid black; */
}

div.course-form div.course-header {
    width: calc(100% - 12px);
    padding: 6px;
    display: flex;
    background-color: #650612;
    color: white;
    align-items: center;
}

div.course-form div.form-container input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: calc(100% - 20px);
}

div.course-form div.form-container input:focus {
    outline: none;
}

div.course-form div.form-container button {
    padding: 10px;
    border-radius: 5px;
    background-color: #342C2D;
    color: white;
    border: none;
    margin-top: 15px;
}

div.course-form div.form-container button:active {
    background-color: white;
    color: black;
}

div.course-form div.form-container button.canceled {
    background-color: #413e3f;
    color: rgb(181, 176, 176);
}

div.course-form div.form-container button.canceled:active {
    background-color: #413e3f;
    color: rgb(181, 176, 176);
}

div.course-form div.form-container {
    padding: 20px;
    width: calc(100% - 40px);
    /* background-color: aqua; */
}

div.course-form div.course-list-container {
    height: calc(70% - 36px);
    width: 100%;
    /* background-color: white; */

    display: flex;
    align-items: center;
    justify-content: center;
}

div.course-form div.course-list-container div.course-list-table {
    height: 80%;
    width: 90%;
    max-width: 80%;
}

div.course-list-table table {
    width: 100%;
    height: auto;
    background-color: #342C2D;
    color: white;
}

div.course-list-table thead {
    background-color: #342C2D;
}

div.course-list-table tbody {
    background-color: #F0F0F0;
    height: 90%;
    width: 100%;
    color: black;
    text-align: center;
    overflow-y: auto;
}

div.prev-next-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.prev-next-container div.aligner {
    /* background-color: black; */
    width: 80%;
}

div.aligner button {
    background-color: #342C2D;
    color: white;
    border: none;
    border-radius: 5px;
}

div.aligner button:active {
    background-color: white;
    color: black;
}

div.aligner button.canceled {
    background-color: #413e3f;
    color: rgb(181, 176, 176);
}

div.aligner button.canceled:active {
    background-color: #413e3f;
    color: rgb(181, 176, 176);
}

div.table-container {
    height: 450px;
    width: 90%;
    background-color: green;
}

div.table-container div.table-header {
    width: calc(100% - 20px);
    padding: 10px;
    color: white;
    background-color: #650612;
}

div.table-container div.table-body-container {
    width: 100%;
    height: calc(100% - (20px + 23px));
    display: flex;
}

div.main-table-container {
    height: 80%;
    width: 90%;
    /* background-color: greenyellow; */
}

div.main-table-header {
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    align-items: center;
    background-color: #413e3f;
    color: white;
}

div.main-table-header div {
    width: 100%;
    text-align: center;
    background-color: transparent;
}

div.main-table-body {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    background-color: white;
}

div.main-table-body div.semi-container {
    height: auto;
    width: 100%;
}

div.main-table-body div.body-content-grid {
    width: 100%;
    display: grid;
    background-color: white;
    grid-template-columns: 10% 30% 30% 30%;
    align-items: center;
    cursor: pointer;
}

div.main-table-body div.body-content-grid:hover {
    background-color: rgb(154, 154, 154);
}

div.main-table-body div.body-content-grid div {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    text-align: center;
    overflow-x: hidden;
}

div.main-table-control {
    height: calc(10% - 10px);
    width: calc(100% - 20px);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    display: flex;
    align-items: center;
}

div.main-table-control > button {
    height: 40px;
    width: 40px;
    margin-top: -30px;
    padding: 0px;
    color: white;
    border: none;
    border-radius: 50%;
}

div.main-table-control > button.add {
    background-color: rgb(26, 147, 48);
}

div.main-table-control > button:active {
    background-color: white;
    color: black;
}

div.popup {
    height: 100%;
    width: 100%;
    background-color: #413e3f81;
    position: absolute;
    top: 0; left: 0;

    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.message-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

div.message-container button {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: green;
}

div.message-container button:active {
    background-color: white;
    color: black;
}

div.answer-sheet-container {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.answer-sheet {
    /* height: 80%; */
    /* width: 70%; */
    border-radius: 10px;
    background-color: white;
}

div.answer-sheet > div.header {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #342C2D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

div.answer-sheet > div.header > h2 {
    margin: 0;
}

div.answer-sheet > div.content {
    width: calc(100% - 20px);
    padding: 20px;
    font-family:'Roboto Mono';
}

div.answer-sheet > div.content > input {
    border-radius: 5px;
    padding: 3px;
    width: 50%;
    border: 1px solid rgb(43, 43, 43);
}

div.answer-sheet > div.content > input:focus {
    outline: none;
}

div.answer-sheet > div.content > input.header {
    font-weight: bold;
    width: calc(100% - 26px);
}

div.answer-sheet > div.content > textarea {
    width: calc(100% - 23px);
    height: 150px;

    max-width: calc(100% - 23px);
    max-height: 150px;
}

div.answer-sheet > div.footer {
    width: calc(100% - 20px);
    padding: 10px;
}

div.answer-sheet > div.footer > button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

div.answer-sheet > div.footer > button.post {
    background-color: green;
}

div.answer-sheet > div.footer > button.cancel {
    background-color: red;
}

div.answer-sheet > div.footer > button.preview {
    background-color: rgb(62, 62, 60);
}

div.answer-sheet > div.footer > button:active {
    background-color: white;
    color: black;
}

div.student-popup {
    height: calc(95% - 50px);
    width: 60%;
    border-radius: 20px;
    background-color: white;
}

div.student-popup > .header {
    padding: 15px;
    width: calc(100% - 30px);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #342C2D;
    border: 1px solid #342C2D;
}

div.student-popup > .header > h2 {
    font-size: 25px;
    margin: 0;
}

div.student-popup > .body {
    height: calc(100% - 68px - 60px);
    width: calc(100% - 60px);
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: grid;
    grid-template-rows: 30% 60% 10%;
    /* background-color: rgba(0, 128, 0, 0.472); */
}

div.student-popup > .body > .img-container {
    /* background-color: black; */
    text-align: center;
}

div.student-popup > .body > .img-container > img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
}

div.student-popup > .body > .table-userinfo-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.student-popup > .body > .table-userinfo-container > table.userinfo {
    height: 95%;
    width: 50%;
    background-color: #342C2D;
}

table.userinfo > tbody > tr > th {
    background-color: #650612;
    color: white;
}

table.userinfo > tbody > tr > td {
    background-color: white;
    color: black;
}

table.userinfo > tbody > tr > td.fixed {
    padding-left: 20px;
}

table.userinfo > tbody > tr > td > input {
    padding-left: 20px;
    border: none;
    height: 100%;
    font-size: 12pt;
    width: calc(100% - 21px);
}

table.userinfo > tbody > tr > td > input:focus {
    outline: none;
}

div.student-popup > .body > .userinfo-btn-container {
    /* background-color: rgb(157, 16, 16); */
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: grid;
    grid-template-columns: 50% 50%;
}

div.userinfo-btn-container > .functionalities {
    display: flex;
    align-items: center;
}

div.userinfo-btn-container > .basic {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: end;
}

div.userinfo-btn-container > .button-design > button {
    padding: 15px;
    width: 100px;
    border: none;
    border-radius: 10px;
    margin: 3px;
}

div.userinfo-btn-container > .button-design > button:active {
    background-color: white;
    color: black;
}