:root {
  --box-size: 150px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

/* Landing page styling */
section {
  display: flex;
  flex-direction: column;
}

/* Image slider images */
.image-slider {
  position: relative;
  height: 100vh;
}

.slides {
  position: absolute;
  z-index: 0;
  inset: 0;
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
  transition-delay: 100ms;
}

.slides.active {
  z-index: 1;
  opacity: 1;
  transition-delay: 0ms;
}

.slides > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  padding: 1em 0;
  text-align: center;
  font-family: Squada One;
  font-size: 2em;
}

/* News */
.news > .container,
.events > .container {
  justify-content: center;
  display: flex;
  gap: var(--m-gap);
}

.box {
  min-width: var(--box-size);
  height: var(--box-size);
  border: 1px solid black;
  background-color: rgb(197, 197, 197);
}

@media only screen and (max-width: 600px) {
  :root {
    --box-size: 100px;
  }
}
