* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*NAVBAR*/

.navbar {
  font-size: 23px;
  color: white;
  height: 80px;
  background-color: #9c0d20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > div {
  line-height: 25px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
}
.logo > div > span {
  font-size: 18px;
  letter-spacing: 2px;
}

.logo > img {
  height: 53px;
  width: 95px;
  padding-left: 40px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar > ul > li {
  display: inline-block;
  padding-right: 30px;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: white;
}
ul > li > a:hover {
  color: rgb(223, 12, 12);
}

/*HOME SECTION*/
.Home {
  height: 100vh;
}
.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* NEWS SECTION*/

.news-con {
  font-family: Squada One;
  margin-top: 150px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.news-con > .title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.slider-container {
  padding: 0 4vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.slider-container {
  overflow-x: hidden;
}

.News {
  height: 500px;
  font-family: "Squada One", cursive;
  display: flex;
  gap: 100px;
  align-items: center;
}
.News > h1 {
  font-size: 45px;
  text-align: center;
}
.News > div {
  font-size: 25px;
  display: flex;
  width: 100%;
}

news-tag {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px;
  font-family: "Squada One", cursive;
  border: 0px solid;
}
news-tag > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* EVENTS TAG*/
.events {
  height: 700px;
  font-family: "Squada One", cursive;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  margin: 90px;
}
.events > h1 {
  font-size: 45px;
}
.events > div {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

events-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 140px;
  font-family: "Squada One", cursive;
}
events-tag > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.View-More {
  padding: 10px;
  border: 0px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

/*FOOTER*/

footer {
  letter-spacing: 0.25em;
  color: white;
  background-color: #342c2d;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Subfooter {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 100%;
}
.Subfooter > div {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.Subfooter > div > p {
  text-align: center;
  padding: 10px;
}
.Subfooter > div > span {
  font-size: 25px;
}
