:root {
  --img-size: 130px;
}

header {
  z-index: 5;
}

main {
  position: relative;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.flex-row {
  display: flex;

  align-items: center;
}

.hide {
  display: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/bsu-background.jpg);
}

.background-photo {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  height: calc(var(--img-size) / 1.5 + 1em);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightslategrey;
}

.profile {
  margin-top: 1em;
  border: 1px;
  height: 80vh;
  transform: scale(0.9);
  overflow-y: scroll;
  padding: 1.5em;
  background-color: white;
  min-width: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#profile-img {
  position: relative;
  background-color: white;
  width: var(--img-size);
  height: var(--img-size);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
}

textarea {
  box-sizing: border-box;
  border: 1px solid white;
  resize: none;
  outline: 0;
}

textarea:hover {
  cursor: pointer;
}

textarea:placeholder-shown {
  cursor: default;
}

textarea.editable {
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: 0;
  cursor: text;
}

textarea .link {
  display: flex;
  align-items: center;
  /* gap: 0.5em; */
}

.link > i {
  background-color: #181d1c;
  color: white;
  padding: 0.25em;
  font-size: 1.25em;
  min-width: 20px;
  max-width: 20px;
  border-radius: 3px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.upper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  gap: 0.5em;
  position: absolute;
  right: 0;
}

.btn {
  height: 3em;
  width: 125px;
  z-index: 1;
  border: 1px;
  color: white;
  border-radius: 20px;
}

.edit {
  background-color: var(--red);
}

.save {
  background-color: green;
}

.cancel {
  border: 1px solid rgb(0, 0, 0, 0.3);
  color: black;
}

#about-me {
  height: fit-content;
}

#about-me.editable {
  resize: vertical;
}

#username,
.link > div {
  width: 100%;
}
.link > div > textarea {
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .profile {
    height: 80vh;
    width: 90vw;
  }

  .upper {
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    width: 100%;
  }

  #username {
    width: 95%;
  }

  .btn {
    border-radius: 5px;
    width: 100%;
  }

  .btns {
    position: static;
    width: 100%;
  }

  .btns > .btn {
    width: 50%;
  }

  .link > div > textarea {
    width: 100%;
  }
}
