@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins';
}

body {
    background-color: #F0F0F0;
}

header {
    position: absolute;
    background-color: #9C0D20;
    top: 0; left: 0;
    width: 100%;
    height: 80px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

header div.container {
    width: 90%;
    height: 30px;
    /* background-color: black; */

    display: flex;
    align-items: center;
}

header h1.name {
    width: 50%;
    font-family: 'Poppins';
    /* background-color: green; */
}

header div.drop-down-container {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: end;
}

header button.drop-down {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 12pt;
}

main {
    margin-top: 80px;
    position: absolute;
    height: calc(100% - 80px); width: 100%;
    top: 0; left: 0;
    display: grid;
    grid-template-columns: 80% 20%;
}

main div {
    width: 100%;
    background-color: #D9D9D9;
}

main div.menu-containers {
    background-color: #D9D9D9;
}

main div.content-containers {
    background-color: #F0F0F0;
}

div.menu-containers button {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: #D9D9D9;
}

div.menu-containers button.selected {
    background-color: black;
    color: white;
}

div.menu-containers button:hover {
    background-color: black;
    color: white;
}

footer {
    width: 100%;
    height: 70px;
    bottom: 0; left: 0;
    position: absolute;
    background-color: #342C2D;

    display: grid;
    grid-template-columns: 10% 80% 10%;
}

footer div.img-container {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.text-container {
    letter-spacing: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}